*.a
*.lib
*.o
*.[0-9]
/auto-ccld.sh
/auto-gid
/auto-int
/auto-int8
/auto-str
/auto-uid
/auto_*.c
/binm1
/binm1+df
/binm2
/binm2+df
/binm3
/binm3+df
/bouncesaying
/chkshsgr
/chkspawn
/compile
/condredirect
/config
/config-fast
/datemail
/direntry.h
/dnscname
/dnsfq
/dnsip
/dnsmxip
/dnsptr
/elq
/except
/find-systype
/fork.h
/forward
/hasflock.h
/hasmkffo.h
/hasnpbg1.h
/hassalen.h
/hassgact.h
/hassgprm.h
/hasshsgr.h
/haswaitp.h
/home
/home+df
/hostname
/idedit
/install
/install-big
/instcheck
/ipmeprint
/load
/maildir2mbox
/maildirmake
/maildirwatch
/mailsubj
/make-compile
/make-load
/make-makelib
/makelib
/pinq
/predate
/preline
/proc
/proc+df
/qail
/qbiff
/qmail-*
!/qmail-*.c
!/qmail-*.h
!/qmail-checkenv
!/qmail-greyd
/qreceipt
/qsmhook
/select.h
/sendmail
/splogger
/systype
/tcp-env
/uint32.h
/update_tmprsadh
!/*.orig
!/*.rej
